In [1]:
# import necessary libraries
import pandas as pd
import mysql.connector
import numpy as np

In [2]:
#MySQL database connection configuration
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password':'J9&l;h32^!'
}

In [4]:
#establish connection to mysql database
conn = mysql.connector.connect(**db_config)

In [5]:
#function to execute mysl queries
def execute_query(query):
    cursor = conn.cursor()
    cursor.execute(query)
    conn.commit()
    cursor.close()

In [6]:
# create edu_institute database if not exists
create_db_query = "CREATE DATABASE IF NOT EXISTS edu_institute;"
execute_query(create_db_query)

In [7]:
#use the database
use_db_query = "USE edu_institute;"
execute_query(use_db_query)

In [8]:
# create students table
create_students_table_query = """
CREATE TABLE IF NOT EXISTS students (
    student_id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    gender CHAR(1),
    enrollment_date DATE,
    program VARCHAR(50)
);
"""
execute_query(create_students_table_query)

In [9]:
#generate a sample data
id = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
names =['Joy Kariuki','Jane Kimani','Alexander Mutiso','Emily Muthoni','Michael Kimani','Sarah Wanjiku','David Mueke',
        'Grace Ochieng', 'Daniel Baraka', 'Emma Njeri','Joy Scovia','Agnes Wendi','Risper Ndirangu','Patience Mwendwa','William Ruto']
ages = [19,22,20,21,23,24,22,23,21,24,21,23,24,19,20]
genders  = ['f','f','m','f','m','f','m','f','m','f','f','f','f','f','m']
dates = ['2023-11-12','2022-09-05','2023-10-10','2022-03-20','2023-05-08','2022-07-12','2023-02-28','2021-11-05','2022-04-15',
         '2023-06-10','2019-09-13', '2019-10-6','2021-09-05','2012-02-10','2022-08-23']
courses = ['Computer Science','Physics','Data Science','Engineering','Engineering','Data Science','Computer Science','Data Science',
           'Physics','Mathematics','Financial Engineering','Statistics','Data Science','Electrical Engineering','Taxation Engineering']

In [10]:
#create a dataframe for the created sample data
sample_df = pd.DataFrame({
    'student_id': id,
    'name': names,
    'age': ages,
    'gender': genders,
    'enrollment_date': dates,
    'program': courses
})

In [11]:
#load the cleaned data to the new database
#insert cleaned data into mysql table
for index, row in sample_df.iterrows():
    insert_query = f"""
    INSERT INTO students (student_id,name, age, gender, enrollment_date, program)
    VALUES ('{row['student_id']}', '{row['name']}', {row['age']}, '{row['gender']}', '{row['enrollment_date']}', '{row['program']}')
    """

    execute_query(insert_query)

In [12]:
#get the data from the students table and display
view_query = "SELECT * FROM students"
students_df = pd.read_sql_query(view_query, conn)

#view the top records students table
students_df.head()

# shape of the table
students_df.shape

C:\Users\Admin\AppData\Local\Temp\ipykernel_20912\2198689415.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  students_df = pd.read_sql_query(view_query, conn)

(15, 6)

In [13]:
#query to select columns for all students pursuing Data Science

datascience_query = "SELECT * FROM students WHERE program = 'Data Science'"
datascience_df = pd.read_sql_query(datascience_query , conn)

#view the students table
print(datascience_df)

   student_id              name  age gender enrollment_date       program
0           3  Alexander Mutiso   20      m      2023-10-10  Data Science
1           6     Sarah Wanjiku   24      f      2022-07-12  Data Science
2           8     Grace Ochieng   23      f      2021-11-05  Data Science
3          13   Risper Ndirangu   24      f      2021-09-05  Data Science

C:\Users\Admin\AppData\Local\Temp\ipykernel_20912\1591786750.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  datascience_df = pd.read_sql_query(datascience_query , conn)

In [14]:
# query to view the total number of students

total_query = "SELECT COUNT(student_id) AS 'Total Students' FROM students"
students_total = pd.read_sql_query(total_query, conn)

# view th result
print(students_total)

   Total Students
0              15

C:\Users\Admin\AppData\Local\Temp\ipykernel_20912\835772478.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  students_total = pd.read_sql_query(total_query, conn)

In [15]:
# query to display the current date
date_query = "SELECT CURRENT_DATE() AS  \"Today's Date\" FROM students"
current_date = pd.read_sql_query(date_query, conn)

# extract the date value from the DataFrame
todays_date = current_date.iloc[0, 0]

# print the date value
print("Today's Date:", todays_date)

Today's Date: 2024-03-15

C:\Users\Admin\AppData\Local\Temp\ipykernel_20912\3047059079.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  current_date = pd.read_sql_query(date_query, conn)

In [16]:
#query to select the student names and their enrolment dates with their names in uppercase

enroll_query = "SELECT UPPER(name) AS student_name, enrollment_date FROM students"
enroll_dates = pd.read_sql_query(enroll_query, conn)

#view the result
print(enroll_dates)

        student_name enrollment_date
0        JOY KARIUKI      2023-11-12
1        JANE KIMANI      2022-09-05
2   ALEXANDER MUTISO      2023-10-10
3      EMILY MUTHONI      2022-03-20
4     MICHAEL KIMANI      2023-05-08
5      SARAH WANJIKU      2022-07-12
6        DAVID MUEKE      2023-02-28
7      GRACE OCHIENG      2021-11-05
8      DANIEL BARAKA      2022-04-15
9         EMMA NJERI      2023-06-10
10        JOY SCOVIA      2019-09-13
11       AGNES WENDI      2019-10-06
12   RISPER NDIRANGU      2021-09-05
13  PATIENCE MWENDWA      2012-02-10
14      WILLIAM RUTO      2022-08-23

C:\Users\Admin\AppData\Local\Temp\ipykernel_20912\217777766.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  enroll_dates = pd.read_sql_query(enroll_query, conn)

In [17]:
## query to count the number of students in each program in descending order
program_query = "SELECT program, COUNT(*) AS Number_of_students FROM students GROUP BY program ORDER BY COUNT(*) DESC"
program_count = pd.read_sql_query(program_query, conn)

#view the result
print(program_count)

                  program  Number_of_students
0            Data Science                   4
1        Computer Science                   2
2                 Physics                   2
3             Engineering                   2
4             Mathematics                   1
5   Financial Engineering                   1
6              Statistics                   1
7  Electrical Engineering                   1
8    Taxation Engineering                   1

C:\Users\Admin\AppData\Local\Temp\ipykernel_20912\2528317544.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  program_count = pd.read_sql_query(program_query, conn)

In [18]:
##  query to find the youngest student's name and age
youngest_query = " SELECT name, age FROM students ORDER BY age ASC LIMIT 1"
youngest_df = pd.read_sql_query(youngest_query, conn)

print(youngest_df)

          name  age
0  Joy Kariuki   19

C:\Users\Admin\AppData\Local\Temp\ipykernel_20912\3356831171.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  youngest_df = pd.read_sql_query(youngest_query, conn)